{% extends '_base.html' %}
{% block title %}Done{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ptb--80 ">
                <div class="bg-light m-1 " style="padding: 5%;margin-top: 50%">

                    <h2 class="text-success">

                        رمز عبور شما با موفقیت تغییر یافت

                       <p class="mt-4">مجدد <a href="{% url 'account_login' %}" class="text-info">وارد</a>  شوید</p>
                    </h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}