{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load persian_translate_tags %}
{% load humanize %}


{% block title %} {% trans 'cart' %} {{ product.title }}{% endblock %}


{% block content %}
    <!-- Breadcrumb area Start -->
    {% trans 'Cart' as x %}
    {% include 'includes/topheader.html' with header_name=x %}
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-md--50">
                        <div class="row no-gutters">
                            <div class="col-12">
                                {% if cart %}
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>{% trans 'Image' %}</th>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'price' %}</th>
                                                <th>{% trans 'quantity' %}</th>
                                                <th>{% trans 'Total' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in cart %}
                                                <tr>
                                                    <td class="product-remove text-left"><a
                                                            href="{% url 'cart:cart_remove' item.product_obj.pk %}"><i
                                                            class="flaticon flaticon-cross"></i></a></td>
                                                    <td class="product-thumbnail text-left">
                                                        {% if item.product_obj.cover %}
                                                            <img class="m-auto" style="max-height: 400px;"
                                                                 src="{{ item.product_obj.cover.url }}"
                                                                 alt="">
                                                        {% else %}
                                                            <img class="m-auto" style="max-height: 400px;"
                                                                 src="https://cdni.iconscout.com/illustration/premium/thumb/no-product-8316266-6632286.png?f=webp"
                                                                 alt="">
                                                        {% endif %}
                                                    </td>
                                                    <td class="product-name wide-column">
                                                        <h3>
                                                            <a href="{{ item.product_obj.get_absolute_url }}">{{ item.product_obj.title }}</a>
                                                        </h3>
                                                    </td>
                                                    <td class="product-price text-right">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">{% with item.product_obj.price|intcomma:False|number_translate as pro_price %}
                                                                    {% blocktrans %} {{ pro_price  }} $
                                                                    {% endblocktrans %}{% endwith %}</span>
                                                            </span>
                                                    </td>

                                                    <td class="product-quantity">
                                                        <form method="post"
                                                              action="{% url 'cart:cart_add' item.product_obj.pk %}">
                                                            {% csrf_token %}
                                                            <div class="quantity">
                                                                <input type="number" class="quantity-input"
                                                                       name="quantity"
                                                                       id="qty-1" value="{{ item.quantity }}" min="1">
                                                            </div>
                                                            {{ item.pro_update_quantity_form.inplace }}
                                                            <button type="submit"
                                                                    class=" btn-danger d-inline"><i
                                                                    class="fa fa-refresh"></i>{% trans ' Update ' %}
                                                            </button>
                                                        </form>
                                                    </td>
                                                    <td class="product-total-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">{% with item.total_price|intcomma:False|number_translate as total_price %}
                                                                    {% blocktrans %} {{ total_price }} $
                                                                    {% endblocktrans %}{% endwith %}</span>
                                                            </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="text-lg-center ">
                                        <h3 class="text-lg-center ">{% trans '! The cart is empty ' %}</h3>
                                        <a href="{% url 'product_list' %}"
                                           class="text-danger">{% trans 'Go shopping' %}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    {% if cart %}
                        <div class="row no-gutters border-top pt--20 mt--20">
                            <div class="col-sm-6 text-sm-right">
                                <form method="post" action="{% url 'cart:clear_cart' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="cart-form__btn">{% trans 'Clear the Cart' %}</button>

                                </form>
                            </div>
                        </div>
                    {% endif %}

                    </div>
                    <div class="col-lg-4">
                      {% if cart %}
                        <div class="cart-collaterals">
                            <div class="cart-totals">
                                {#                                <h5 class="font-size-14 font-bold mb--15">مجموع</h5>#}
                                <div class="cart-calculator">
                                    <div class="cart-calculator__item">
                                        <div class="cart-calculator__item--head">
                                            <span>{% trans 'Total price' %}</span>
                                        </div>
                                        <div class="cart-calculator__item--value">
                                            <span>{% with cart.get_total_price|intcomma:False|number_translate as total %}
                                                {% blocktrans %}{{ total }} $ {% endblocktrans %}
                                            {% endwith %}
                                            </span>
                                        </div>
                                    </div>
                                    {#                                        <div class="cart-calculator__item order-total">#}
                                    {#                                            <div class="cart-calculator__item--head">#}
                                    {#                                                <span>جمع کل</span>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="cart-calculator__item--value">#}
                                    {#                                                <span class="product-price-wrapper">#}
                                    {#                                                    <span class="money">۳۴۶,۰۰۰ تومان</span>#}
                                    {#                                                </span>#}
                                    {#                                            </div>#}
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'orders:order_create' %}" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                            {% trans 'checkout' %}
                        </a>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock %}